<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConEmu.Control.WinForms" version="1.0.20160407.0" targetFramework="net472" />
  <package id="ConEmu.Core" version="16.3.10.0" targetFramework="net472" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net472" />
  <package id="NLog" version="4.5.11" targetFramework="net472" />
</packages>